* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    justify-content: center;
}

.h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    align-items: center;
}

.header {
    background-color: #0073b1;
    color: white;
    padding: 32px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search button {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.menu ul {
    display: flex;
    list-style: none;
    padding-top: 35px;
    justify-content: center;
}

.menu ul li {
    margin: 0 10px;
    position: relative;
    padding: 10px;
    /* transform: translate(10%, -40%); */
}

.menu ul li a {
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    
}

.user-options a {

    color: white;
    text-decoration: none;
    margin-left: 15px;
    align-items: center;
}

.user-options img {
    height: 24px;
    margin-left: 5px;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0073b1;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
    opacity: 0;
    /* transition: all 0.9s ease-in-out; */
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(-10px);
    background-color: #0073b1;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        width: 100%;
        margin: 10px 0;
    }

    .search input {
        width: calc(100% - 40px);
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
    }

    .menu ul li {
        margin: 5px 0;
    }

    .user-options {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}


/*------------------------------------------------------------------
    LOADER 
-------------------------------------------------------------------*/

#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11000;
    position: fixed;
    display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
}

.loader {
  display: inline-flex;
  flex-wrap: wrap;
  width: 258px;
  height: 229px;
}

/*------------------------------------------------------------------
    CARRUSEL DE IMÁGENES
-------------------------------------------------------------------*/


/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.slider-section img {
    width: 500px;
}

.container-carousel {
    position: relative;
    width: 100%;
    height: 300%;
    border-radius: 15px;
    overflow: hidden;
}

.carruseles {
    width: 300%;
    height: 100%;
    display: flex;
}


.slider-section {
    width: calc(100% / 3);
}


.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px;
}


.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50);
    transition: .3s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}


.btn-left {
    left: 10px;
}


.btn-right {
    right: 10px;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.slider ul{
    display:flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 90%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
    height: 100vh;
}
}


.contenedor-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2000px;
    margin: 0 auto;
    padding: 40px;
    padding-top: 3';
  }

  .imagen {
    width: 400px; /* Ajustar ancho según necesidad */
    height: 300px; /* Ajustar alto según necesidad */
    margin: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantener la proporción de la imagen */
  }

  .descripcion {
    text-align: center;
    margin-top: 10px;
  }

  .boton {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    margin-top: 10px;
  }

  /* Estilos responsivos */
  @media (max-width: 768px) {
    .imagen {
      width: 50%; /* Ajustar ancho para pantallas pequeñas */
    }
  }

  @media (max-width: 480px) {
    .imagen {
      width: 100%; /* Ajustar ancho para pantallas muy pequeñas */
    }
  }

  /* slider con tarjetas */

  .cards-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 5%;
  }
  
  .card {
    margin: 0.5em;
    width: calc(100% / 2);
  }


.image-wrapper {
    height: 22vw;
    margin: 0 auto;
    margin-top: 1%;
    /* align-items: center;
    justify-content: center; */
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
   
}

.cards-wrapper .card-title {
    text-align: center;
}

.cards-wrapper .card-text {
    text-align: center;
}



/* footer */

#footer {
    color: #444444;
    font-size: 14px;
    background: #f1f7fd;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #0073b1;
    box-shadow: 0px 2px 15px #0073b1;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
  }
  
  #footer .footer-top h4 {
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #1c84e3;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #1977cc;
  }
  
  #footer .footer-newsletter {
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
  }
  
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #fddad8;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #fddad8;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #0073b1;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;
  }
  
  .texto-justificado{
    text-align: justify;
  }
  
  
      
  #cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#0073b1;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  #cookie-consent button {
    background-color: #84abca;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  


  /* Estilo para cookies y privacidad */

  #cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#84abca;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  #cookie-consent button {
    background-color: #0073b1;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  
  



  /* Media query para pantallas pequeñas */
/* @media (max-width: 768px) {
    .contenedor-carrusel {
      height: 250px; /* Ajustar la altura del carrusel para pantallas pequeñas */
