* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #0073b1;
    color: white;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search button {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0 10px;
    position: relative;
    
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.user-options a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.user-options img {
    height: 24px;
    margin-left: 5px;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0073b1;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        width: 100%;
        margin: 10px 0;
    }

    .search input {
        width: calc(100% - 40px);
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
    }

    .menu ul li {
        margin: 5px 0;
    }

    .user-options {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}
