* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #0073b1;
    color: white;
    padding: 32px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search button {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.menu ul {
    display: flex;
    list-style: none;
    padding-top: 35px;
}

.menu ul li {
    margin: 0 10px;
    position: relative;
    padding: 10px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.user-options a {

    color: white;
    text-decoration: none;
    margin-left: 15px;
    align-items: center;
}

.user-options img {
    height: 24px;
    margin-left: 5px;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0073b1;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
    opacity: 0;
    /* transition: all 0.9s ease-in-out; */
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        width: 100%;
        margin: 10px 0;
    }

    .search input {
        width: calc(100% - 40px);
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
    }

    .menu ul li {
        margin: 5px 0;
    }

    .user-options {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}


/*------------------------------------------------------------------
    LOADER 
-------------------------------------------------------------------*/

#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11000;
    position: fixed;
    display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
}

.loader {
  display: inline-flex;
  flex-wrap: wrap;
  width: 258px;
  height: 229px;
}

/*------------------------------------------------------------------
    CARRUSEL DE IMÁGENES
-------------------------------------------------------------------*/

.contenedor-carrusel {
    width: 800px; /* Tamaño del carrusel */
    height: 300px; /* Tamaño del carrusel */
    margin: 0 auto; /* Centrar el carrusel */
    position: relative; /* Posición relativa para el contenedor */
  }
  
  .lista-imagenes {
    list-style: none; /* Eliminar viñetas */
    padding: 0;
    margin: 0;
    position: absolute; /* Posición absoluta para las imágenes */
    top: 0;
    left: 0;
    width: 100%; /* Ancho del contenedor de imágenes */
    height: 100%; /* Altura del contenedor de imágenes */
    transition: transform 0.5s ease-in-out; /* Animación de transición */
  }
  
  .imagen {
    width: 100%; /* Ancho de la imagen */
    height: 100%; /* Altura de la imagen */
    object-fit: cover; /* Ajustar la imagen al contenedor */
    display: none; /* Ocultar las imágenes inicialmente */
  }
  
  .imagen.active {
    display: block; /* Mostrar la imagen activa */
  }
  
  .indicadores {
    position: absolute; /* Posición absoluta para los indicadores */
    bottom: 20px; /* Posición inferior de los indicadores */
    left: 50%; /* Posición central horizontal de los indicadores */
    transform: translateX(-50%); /* Centrar los indicadores horizontalmente */
  }
  
  .indicador {
    display: inline-block; /* Mostrar los indicadores en línea */
    width: 10px; /* Ancho de los indicadores */
    height: 10px; /* Altura de los indicadores */
    margin: 0 5px; /* Espacio entre indicadores */
    background-color: #ccc; /* Color de los indicadores */
    border-radius: 50%; /* Forma circular de los indicadores */
    transition: background-color 0.5s ease-in-out; /* Animación de transición */
  }
  
  .indicador.active {
    background-color: #0073b1; /* Color del indicador activo */
  }
  
  /* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .contenedor-carrusel {
      height: 250px; /* Ajustar la altura del carrusel para pantallas pequeñas */
    }
  }